/Library/
/Temp/
/Logs/
/obj/
/Builds/*
!/Builds/shots/
!/Builds/shots2/
!/Builds/creatives/
/UserSettings/
/tools/coretests/bin/
/tools/coretests/obj/
*.csproj
!/tools/coretests/*.csproj
!/tools/levelgen/*.csproj
*.sln